- name: Update existing packages
  community.general.pacman:
    update_cache: true
    upgrade: true

- name: Install basic dependencies
  community.general.pacman:
    state: present
    name: "{{ basics_packages }}"

- name: Check if yay already
  ansible.builtin.command: which yay
  register: basics_yay_is_installed
  changed_when: false
  failed_when: false

- name: Install yay
  ansible.builtin.include_tasks: yay.yml
  when: basics_yay_is_installed.rc != 0
