- name: Install basic dependencies
  community.general.pacman:
    state: present
    update_cache: true
    name: "{{ basics_packages }}"

- name: Install yay
  ansible.builtin.include_tasks: yay.yml
