- name: Update existing packages
  community.general.pacman:
    update_cache: true
    upgrade: true

- name: Install basic dependencies
  community.general.pacman:
    state: present
    name: "{{ basics_packages }}"

- name: Check if yay already
  ansible.builtin.command: which yay
  register: basics_yay_is_installed
  changed_when: false
  failed_when: false

- name: Install yay
  ansible.builtin.include_tasks: yay.yml
  when: basics_yay_is_installed.rc != 0

- name: Add hostname as entry for /etc/hosts (this fixes some bugs including https://github.com/flatpak/flatpak/issues/4194)
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "127\\.0\\.1\\.1(\\s+{{ ansible_facts['hostname'] }})?"
    line: "127.0.1.1        {{ ansible_facts['hostname'] }}"
    state: present
