- name: Install fish and fisher
  community.general.pacman:
    state: present
    name:
      - fish
      - fisher

- name: Install tide
  become: true
  become_user: "{{ play_user }}"
  ansible.builtin.command:
    cmd: fish -c "fisher install IlanCosman/tide@v6"
  changed_when: true

- name: Configure tide
  become: true
  become_user: "{{ play_user }}"
  ansible.builtin.command:
    cmd: >
      fish -c "tide configure
      --auto
      --style=Lean
      --prompt_colors='True color'
      --show_time='24-hour format'
      --lean_prompt_height='Two lines'
      --prompt_connection=Dotted
      --prompt_connection_andor_frame_color=Dark
      --prompt_spacing=Sparse
      --icons='Many icons'
      --transient=Yes"
  changed_when: true
