- name: Install XDG desktop portals
  community.general.pacman:
    state: present
    name:
      - xdg-desktop-portal
      - xdg-desktop-portal-gtk
      - xdg-desktop-portal-hyprland
      - xdg-user-dirs

- name: Configure XDG user directories
  ansible.builtin.include_tasks: user-dirs.yml

- name: Configure XDG desktop portal preferences
  ansible.builtin.include_tasks: portals.yml
