- name: Make sure pacman hooks folder exists
  ansible.builtin.file:
    dest: /etc/pacman.d/hooks
    owner: root
    group: root
    mode: "755"
    state: directory

- name: Install cache updater hook
  ansible.builtin.copy:
    src: updateKDEcache.hook
    dest: /etc/pacman.d/hooks/updateKDEcache.hook
    owner: root
    group: root
    mode: "755"

- name: Install dolphin file manager & optional dependencies
  community.general.pacman:
    state: present
    name: "{{ dolphin_packages }}"

- name: Create KNotifications directory
  ansible.builtin.file:
    path: "{{ play_user_data_dir }}/knotifications6"
    state: directory
    owner: "{{ play_user }}"
    group: "{{ play_user }}"
    mode: "755"

- name: Copy global KNotifications config to local folder
  ansible.builtin.copy:
    src: /usr/share/knotifications6/plasma_workspace.notifyrc
    dest: "{{ play_user_data_dir }}/knotifications6/plasma_workspace.notifyrc"
    owner: "{{ play_user }}"
    group: "{{ play_user }}"
    mode: "755"

- name: Remove dialog-question sound
  ansible.builtin.replace:
    path: "{{ play_user_data_dir }}/knotifications6/plasma_workspace.notifyrc"
    regexp: "^Sound=.*?dialog-question.*?$"
    replace: "Sound="
